<template name="hackerPortal">
    <div id="google_translate_element">
    </div>
{{>navBar}}

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-6 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Hackathon Toolkit</h1>
            <!--<h3>June XX, 2018</h3>-->
            <p class="lead font-weight-normal">
                Examples
            </p>

        </div>
        <!--<div class="product-device box-shadow d-none d-md-block"></div>-->
        <!--<div class="product-device product-device-2 box-shadow d-none d-md-block"></div>-->
    </div>
    {{> Template.dynamic template=content}}




    {{>footer}}

</template>